@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: hsl(0,0%,95%);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(212, 223, 93);;
}


@media screen and (max-width:800px){
  .trabajo .columna1 div, .trabajo .columna3 div {
    width: 30vw;
    height: 30vw;
  }
  .trabajo .columna2 .img {
    width: 30vw;
    height: 75vw;
  }

  header {
    padding: 10%;
  }

  .servicios .servicio1, .servicios .servicio2, .servicios .servicio3, .servicios .servicio4{
    padding: 10px;
    width: 70vw;
    margin-bottom: 10px;
  }

  .news .item {
    width: 70vw;
  }
}

@media screen and (max-width:500px) {
  .servicios div{
    padding: 10px;
    width: 95vw;
    margin-bottom: 10px;
  }

  .news .item {
    width: 95vw;
  }
}